/*Include this file in all pages*/

* {
	margin: 0;
	padding: 0;
	font-family:'Segoe UI',Arial;
}

a {
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

#backgroundDiv {
	overflow-y: hidden;	
}

.splash {
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	z-index:-1;
	box-sizing:border-box;
}

#topBar {
	height:3em;	
	z-index:1;
	margin-left:.5em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

#topBar span {
	cursor: pointer;	
}

#logoArea {
	float:left;
	width:30%;
	color:white;
	font-size:35px;
}

	#logoArea span {
		padding:10px;
	}

#constantLinksArea {
	float: right;
	width: 30%;	
}

#constantLinksArea ul {
	list-style-type: none;
	float:right;
	margin-right:.5em;
}

#constantLinksArea ul li{
	float:left;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;	
}

#horizontalScrollerDiv {
	z-index:0;
	position:absolute;
	top:0;
	left:0;
	overflow-y:hidden;
}

#recipeNameSection {
	position:absolute;
	bottom:3em;
	left:.5em;
	padding:10px;
}

#recipeNameDiv {
	font-size:28px;
}

#ingredientsDiv {
	position:absolute;
	left:20%;	
}