		#menu a {
			color:white;
			text-decoration:none;
		}

		#menu li {
			cursor:pointer;
		}

		#menuTopLevelMenu {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		#menu {
			position: absolute;
			top: 6px;
			left: 15px;
		}

		#mainLI {
			padding: 5px;
			color: white;			
		}

		.childMenuItems {
			padding: 5px;			
			color: white;
		}

		#childrenMenuUL {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			display:none;			
		}

		#childrenMenuUL li {		
			
		}

		.arrowDown {
			width: 0;
			height: 0;
			margin-left:10px;
			position:relative;
		}